* {
    margin: 0;
    padding: 0;
}

html,body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    color: white;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(10,10,130,1) 35%, rgba(0,212,255,1) 100%);
}

.container {
    display: grid;
    place-items: center;
    width: 1360px;
    height: 100%;
    background: #141636;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
    border: 5px solid #00fff2;
    border-radius: 10px;
    animation: neonborder 1.5s infinite alternate;
}

header {
    display: grid;
    place-items: center;
    padding: 10px;
    margin: 10px;
}

header h1 {
    text-transform: uppercase;
    font-size: 50px;
    animation: neonh1 1.5s infinite alternate;
    padding: 10px;
}

header img {
    width: 900px;
    height: 500px;
    border: 5px solid white;
    border-radius: 10px;
    margin: 50px;
}

header p {
    font-size: 20px;
    margin: 10px;
}

.center {
    text-align: center;
}

.conteudo {
    text-align: center;
    width: 1000px;
    background: #042e57;
    border: 5px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.conteudo h2 {
    margin-bottom: 10px;
    font-size: 40px;
    animation: neonh1 1.5s infinite alternate;
}

.conteudo p {
    margin: 10px;
    font-size: 20px;
}

.conteudo button {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid aqua;
    background: #0e58a1;
    animation: neonbutton 1.5s infinite alternate;
}

.conteudo a {
    color: #00fff2;
    text-decoration: none;
    font-size: 20px;
}

main {
    display: grid;
    place-items: center;
    width: 640px;
    height: 300px;
    background: rgb(5,122,156);
    background: #0e58a1;
    border: 5px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
}

main h2 {
    text-align: center;
    font-size: 30px;
    animation: neonh1 1.5s infinite alternate;
    padding-bottom: 30px;
}

main ul li {
    font-size: 20px;
    padding: 20px;
}

main a {
    text-decoration: none;
    color: #fff;
}

main li:hover, a:hover {
    color: aqua;
}

footer {
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: 50px;
    background: #0b3259;
    border: 3px solid aqua;
    border-radius: 10px;
}


@keyframes neonh1 {
    0% {
        text-shadow:
                    0 0 5px #00ffff, 
                    0 0 7px #00ffff,
                    0 0 13px #00ffff, 
                    0 0 15px #00ffff,
                    0 0 19px #00ffff, 
                    0 0 25px #00ffff,
                    0 0 30px #00ffff,
                    0 0 45px #00ffff;
    }

    100% {
        text-shadow: 
                    0 0 2px #00ffff, 
                    0 0 5px #00ffff, 
                    0 0 10px #00ffff, 
                    0 0 20px #00ffff,
                    0 0 30px #00ffff, 
                    0 0 40px #00ffff,
                    0 0 50px #00ffff,
                    0 0 75px #00ffff;
    }
}

@keyframes neonborder {
    0% {
        box-shadow:
                    0 0 5px #00ffff, 
                    0 0 7px #00ffff,
                    0 0 13px #00ffff, 
                    0 0 15px #00ffff,
                    0 0 19px #00ffff, 
                    0 0 25px #00ffff,
                    0 0 30px #00ffff,
                    0 0 45px #00ffff;
    }

    100% {
        box-shadow: 
                    0 0 2px #00ffff, 
                    0 0 5px #00ffff, 
                    0 0 10px #00ffff, 
                    0 0 20px #00ffff,
                    0 0 30px #00ffff, 
                    0 0 40px #00ffff,
                    0 0 50px #00ffff,
                    0 0 75px #00ffff;
    }
}

@keyframes neonbutton {
    0% {
        box-shadow:
                    0 0 1px #00ffff, 
                    0 0 3px #00ffff,
                    0 0 5px #00ffff, 
                    0 0 7px #00ffff,
                    0 0 9px #00ffff, 
                    0 0 11px #00ffff,
                    0 0 13px #00ffff,
                    0 0 15px #00ffff;
    }

    100% {
        box-shadow: 
                    0 0 2px #00ffff, 
                    0 0 4px #00ffff, 
                    0 0 6px #00ffff, 
                    0 0 8px #00ffff,
                    0 0 11px #00ffff, 
                    0 0 14px #00ffff,
                    0 0 15px #00ffff,
                    0 0 17px #00ffff;
    }
}